---
layout: splash
title: "Welcome!"
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/splash_2_1400x600.jpg

  #actions:
  #  - label: "Download"
  #    url: "https://github.com/mmistakes/minimal-mistakes/"
  
  #caption: "Photo credit: [**Unsplash**](https://unsplash.com)"

excerpt: "I hope you’re not finding this at 3 am because you can’t sleep, but now that you’re here maybe we can make late night web surfing a thing of the past!"
intro: 
  - excerpt: 'This blog is a place for people dealing with Restless Legs Syndrome to come to get information, support, coping strategies and more. I share my personal experience and my interpretation of research and trends.'

feature_row:
- image_path: assets/posts/2021-06-05-my-story_thumbnail.png
  alt: "My Story"
  title: "My Story"
  excerpt: "A little about me and my history with RLS"
  url: /blog/my-story/
  btn_label: "Read More"
  btn_class: "btn--primary"
  
- image_path: assets/posts/2021-07-03-what-is-rls_thumbnail.jpg
  alt: "What IS Restless Legs Syndrome?"
  title: "What IS Restless Legs Syndrome?"
  excerpt: "Why do I have the urge to move my legs at night?"
  url: /blog/what-is-rls/
  btn_label: "Read More"
  btn_class: "btn--primary"
  
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
