<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NNVLMWZWH1"></script>
<script>
const host = window.location.hostname;
if (host == "localhost" || host == "127.0.0.1")
{
  console.info("localhost");
  console.info("Google Analytics DISABLED");
}
else
{
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NNVLMWZWH1');

  console.info("Google Analytics ENABLED");
}

console.info(host);

</script>